<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545429896539-dvm7iot1s976ioi7sealhtd30vm2uat6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545429896539-dvm7iot1s976ioi7sealhtd30vm2uat6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>545429896539-53jr990io9epo38du6au4816nbrnr4dv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9FkohdcJVRmhQIp1iWnUY24D1-o2pKpI</string>
	<key>GCM_SENDER_ID</key>
	<string>545429896539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vipPicnic</string>
	<key>PROJECT_ID</key>
	<string>vip-picnic-77641</string>
	<key>STORAGE_BUCKET</key>
	<string>vip-picnic-77641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545429896539:ios:2e72edc54d20e6a00eae7e</string>
</dict>
</plist>